In [1]:
#####Functions##########

In [41]:
def test():   # washing machine, Refrigerator, Ovan
    pass      # not written anything then we will give pass  # it does nothing at all

In [42]:
type(test())

NoneType

In [43]:
def test(): # mandatory function should return something else give pass otherwise we will get an error

IndentationError: expected an indented block (4277359475.py, line 1)

In [44]:
def add():
    a=1
    b=2
    print(a+b)

In [45]:
add()

3

In [46]:
def add(a,b):
    print(a+b)

In [47]:
add(2,3)

5

In [48]:
add(2.5,3)

5.5

In [49]:
add(5.5,3.3)

8.8

In [50]:
add(2,"anand") # error because of 2 is int and anand is str both is separate thats why error will came

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
add('2','anand')

2anand

In [52]:
type(add)

function

In [53]:
type(print("xyz"))

xyz

NoneType

In [54]:
def add(a,b):
    return str(a)+str(b)  #converted int to str here

In [55]:
add(3,4)

'34'

In [56]:
add(3,"Virat Kohli")

'3Virat Kohli'

In [57]:
def add(a,b):
    return int(a) + int(b)

In [58]:
add("2","3")

5

In [59]:
def add(a,b):
    a = 1
    b = 2
    print(a+b)

In [60]:
add(5,6) # only local variable values run

3

In [61]:
def add(a,b):
    print(a+b)

In [62]:
add(5,6)

11

In [63]:
def add(a,b):
    a=1
    b=2
    c=3
    return a+b

In [64]:
c = 10
add(5,6) + c

13

In [65]:
def add(a,b):
    a=1
    b=2
    c=3
    return a+b+c

In [66]:
c = 10
add(5,6) + c

16

In [67]:
def add(a,b):
    a=1
    b=2
    c=3
    return a+b+c,a+b,a+b*c

In [68]:
add(2,3)

(6, 3, 7)

In [69]:
add(1,3)

(6, 3, 7)

In [70]:
type(add(1,3))

tuple

In [71]:
add(1,2,3) # three values pass here thats why error came

TypeError: add() takes 2 positional arguments but 3 were given

In [72]:
add(6,5)+c

TypeError: can only concatenate tuple (not "int") to tuple

In [73]:
c = 5
c = 1
def add(a,b):
    a = 1
    b = 2
    c = 4
    return a+b+c

In [74]:
add(2,3)

7

In [75]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [76]:
def my_func():
    x = 10
    print("value inside function",x)

x = 20
my_func()
print("value outside function",x)

value inside function 10
value outside function 20

In [77]:
def abc(a,b,c):
    return a+b+c, a*b*c, a+b*c 
abc(2,3,4)

(9, 24, 14)

In [78]:
def abc(a,b,c):
    return a+b+c, a*b*c, a+b*c

In [79]:
abc(2,3,4)

(9, 24, 14)

In [80]:
def test():
    return "Sudhanshu" ,[4,5,6,7],{'a':5,'b':6}

In [81]:
test()

('Sudhanshu', [4, 5, 6, 7], {'a': 5, 'b': 6})

In [82]:
int(4.567)

4

In [83]:
float(3)

3.0

In [84]:
str(3)

'3'

In [85]:
def math(a,b,c):
    return a+b+c
    return a*b*c
    return a+b/c

In [86]:
math(2,3,4)

9

In [87]:
##### create a list of all the employees with different name say 5 (from user input)
##### create user defined function which returns the largest number(whose length is more)

In [88]:
def add(a,b,c=2):
    return a+b+c

In [89]:
add(2,3)

7

In [90]:
add(2,3,4)

9

In [91]:
def add(a,b,c=2):
    c = 1
    return a+b+c

In [92]:
add(2,3,4)

6

In [93]:
len("dipak")

5

In [95]:
# Print give the name of max length of character

In [96]:
test_list = ['anand','harsh','manisha','aishwarya','hanuman']

In [97]:
test_list

['anand', 'harsh', 'manisha', 'aishwarya', 'hanuman']

In [98]:
max_len = 1
for ele in test_list:
    if len(ele) > max_len:
        res = ele
    
print("Maximum length string is: " +res)

Maximum length string is: hanuman

In [99]:
def biglen():
    li = []
    res=0
    for i in range(5):
        li.append(input('enter a name: '))
        if len(li[i]) > res:
            res = len(li[i])
            temp = li[i]
    return temp

In [100]:
biglen()

enter a name: abc
enter a name: abcd
enter a name: abcde
enter a name: adhdjj
enter a name: akkkkkk

'akkkkkk'

In [101]:
abc()

TypeError: abc() missing 3 required positional arguments: 'a', 'b', and 'c'

In [102]:
emp_list = []
def emp_list_func():
    for i in range(5):
        emp_name = input("Enter Employee Name = ")
        test_list.append(emp_name)

In [103]:
emp_list_func()

Enter Employee Name = akash
Enter Employee Name = pravin
Enter Employee Name = shubham
Enter Employee Name = abhi
Enter Employee Name = pankaj d

In [ ]:
########################LAMBDA FUNCTION##############################

In [ ]:
### its a one line function which can take any number of  but only one expression, which is evaluated and returned
### its a anonoymous function i.e without name
### Lambda keyword is used to define it
### No def keyword is used
### one is free to use lambda functions whenever functions obj are required
## You need to keep in your knowledge that lambda function are syntactically restricted to a single expression
## the lambda operator => separates the input parameters on the left side from the lambda body on the right side

In [104]:
z = lambda a,b,c:a*b/c

In [6]:
z(8,9,3)

24.0

In [7]:
cube = lambda x : x*x*x

In [8]:
cube(7)

343

In [9]:
### Create an empty list 
### ask the user 5 times to input any number
### use lambda function to test for odd and even and pass the number4 to another list calling odd /even

In [10]:
Check_No= lambda mylist[i]: if mylist[i]%2==0 print("Even") else ("Odd")

SyntaxError: invalid syntax (1296789662.py, line 1)

In [11]:
number = int(input("Enter a number >> "))
odd_even = lambda : "Even Number" if number % 2 == 0 else "Odd Number"
print(odd_even())

Enter a number >> 24
Even Number

In [ ]:
########################filter function###############################

In [19]:
list_test = [4,5,6,7,8,6,7,8,8]

In [20]:
a = list(filter(lambda x:x%2==0,list_test))
b = list(filter(lambda x:x%2!=0,list_test))

In [21]:
a,b

([4, 6, 8, 6, 8, 8], [5, 7, 7])

In [23]:
def even_check(n):
    if n%2==0:
        return True

In [24]:
list(filter(even_check,list_test))

[4, 6, 8, 6, 8, 8]

In [25]:
z = lambda a,b,c:a**2+b*3+c

In [26]:
z(5,6,7)

50

In [27]:
from functools import reduce

In [28]:
test = [4,5,6,7,8,9]
reduce(lambda x,y:x+y,test)

39

In [29]:
test = [4,5,6,7,8,9]
reduce(lambda x,y:x/y,test) ##only 2 arguments are allowed..

0.0002645502645502645

In [30]:
test = [4,5,6,7,8,9,10,11] ##only 2 arguments are allowed...
reduce(lambda x,y:x+y,test)

60

In [32]:
def mydata(n):
    return lambda a,b: (a+b)*n

In [33]:
var = mydata(4)
print(var(2,3))

20

In [34]:
######################## MAP ###############################

In [35]:
list_test = [3,4,5,6,7,8,9,9]

In [36]:
list(map(lambda x : x**2,list_test))

[9, 16, 25, 36, 49, 64, 81, 81]

In [37]:
a = [1,2,3,4,5]
b = [5,6,7,4,3]
c = [6,7,8,6,5,5,4]

In [38]:
def summation(x,y,z):
    return x+y+z

In [39]:
list(map(summation,a,b,c))

[12, 15, 18, 14, 13]